* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
map area{ outline: none; }





