// margin
.mk-mg-5 {
    margin: 5px;
}

.mk-mt-5 {
    margin-top: 5px;
}

.mk-ml-5 {
    margin-left: 5px;
}

.mk-mr-5 {
    margin-right: 5px;
}

.mk-mb-5 {
    margin-bottom: 5px;
}

.mk-mg-10 {
    margin: 10px;
}

.mk-mt-10 {
    margin-top: 10px;
}

.mk-ml-10 {
    margin-left: 10px;
}

.mk-mr-10 {
    margin-right: 10px;
}

.mk-mb-10 {
    margin-bottom: 10px;
}

.mk-mg-15 {
    margin: 15px;
}

.mk-mt-15 {
    margin-top: 15px;
}

.mk-ml-15 {
    margin-left: 15px;
}

.mk-mr-15 {
    margin-right: 15px;
}

.mk-mb-15 {
    margin-bottom: 15px;
}

.mk-mg-20 {
    margin: 20px;
}

.mk-mt-20 {
    margin-top: 20px;
}

.mk-ml-20 {
    margin-left: 20px;
}

.mk-mr-20 {
    margin-right: 20px;
}

.mk-mb-20 {
    margin-bottom: 20px;
}
