// padding
.mk-pd-5 {
    padding: 5px;
}

.mk-pt-5 {
    padding-top: 5px;
}

.mk-pl-5 {
    padding-left: 5px;
}

.mk-pr-5 {
    padding-right: 5px;
}

.mk-pb-5 {
    padding-bottom: 5px;
}

.mk-pd-10 {
    padding: 10px;
}

.mk-pt-10 {
    padding-top: 10px;
}

.mk-pl-10 {
    padding-left: 10px;
}

.mk-pr-10 {
    padding-right: 10px;
}

.mk-pb-15 {
    padding-bottom: 15px;
}

.mk-pd-15 {
    padding: 15px;
}

.mk-pt-15 {
    padding-top: 15px;
}

.mk-pl-15 {
    padding-left: 15px;
}

.mk-pr-15 {
    padding-right: 15px;
}

.mk-pb-15 {
    padding-bottom: 15px;
}

.mk-pd-20 {
    padding: 20px;
}

.mk-pt-20 {
    padding-top: 20px;
}

.mk-pl-20 {
    padding-left: 20px;
}

.mk-pr-20 {
    padding-right: 20px;
}

.mk-pb-20 {
    padding-bottom: 20px;
}